.row {
    /* height: fit-content; */
}

.brick {
    background-color: #27f;
    min-height: 40px;   /* occhio all'altezza fissa */
    border: 1px solid #fff;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.green {
    background-color: #5e5;
    border: 1px solid #27f;
}

.row.nested {
    padding: 10px;
}

.marg-bot-20 {
    margin-bottom: 20px;
}